header {
  display: flex;
  height: 64px;
  justify-content: space-between;
  align-items: center;
}

header>p {
  display: flex;
  font-size: 32px;
  font-weight: bold;
  margin-left: 24px;
}

header>p span {
  font-weight: lighter;
  opacity: 0.5;
}

header nav {
  display: flex;
  margin-right: 24px;
}

header nav a {
  color: black;
  text-decoration: none;
  margin-left: 16px;
}

.container {
  max-width: 960px;
  margin: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.banner {
  display: flex;
}

.banner .image {
  display: flex;
  width: 60%;
  margin: auto;
}

.banner img {
  height: auto;
  margin: 32px 24px;
  max-width: 100%;
}

.banner .column {
  justify-content: center;
  width: 40%;
}

.banner a {
  background-color: black;
  color: white;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
}

.about {
  display: flex;
}

.about .main {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.main img {
  height: auto;
  margin-bottom: 32px;
  margin-top: 32px;
  max-width: 100%;
}

.about .main h2 {
  margin-top: 32px;
  margin-bottom: 24px;
}

.about .info {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 32px;
  margin-bottom: 32px;
}

.info .section {
  display: flex;
}

.section .content {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.section .image {
  display: flex;
  width: 35%;
  margin: auto;
}

.section img {
  height: auto;
  margin: 16px;
  max-width: 100%;
}

.info .section .content a {
  text-decoration: none;
}

.info .section .content p {
  margin-top: 8px;
  margin-bottom: 8px;
}
